weights/
work_dirs/
__pycache__/
.DS_Store
*.mp4
*.png
*.xyz
*.mtl
*.xml
*.so
build/
devel/
.catkin_workspace
git.sh
pddlstream/
*.pyc
FastDownward/
checkpoint/
tmp/
temp/
*.stl
*.dae
*.obj
.vscode/
.idea/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg-info
.installed.cfg
*.egg
MANIFEST
debug/